.auth-wrapper {
    background: var(--bg-soft);
}

.auth-card {
    width: 360px;
    padding: var(--space-l);
}


.auth-card:hover {
    transform: none !important;
    box-shadow: var(--shadow); 
}

.full-btn {
    width: 100%;
}

.switch-text {
    margin-top: 16px;
    font-size: 14px;
    color: var(--text-medium);
    text-align: center;
}

.link {
    color: var(--primary);
    font-weight: 600;
}
