/* RESET CSS EduGrade */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: "Segoe UI", Arial, sans-serif;
    background-color: #ffffff;
    color: #222831;
}

a {
    text-decoration: none;
    color: inherit;
}

button, input, select, textarea {
    font-family: inherit;
    outline: none;
}

ul {
    list-style: none;
}
